extend layout
block corpo
    .w3-container
        .w3-card-4 
            header.w3-container.w3-light-grey
                h1= arq.arquelem.id
            .w3-container
                table.w3-table.w3-all
                    tr
                        th Descrição
                        td= arq.arquelem.desc
                    tr
                        th Lugar
                        td=arq.arquelem.lugar
                    tr
                        th Freguesia
                        td=arq.arquelem.freguesia
                    tr 
                        th Concelho
                        th=arq.arquelem.concelho
                    tr
                        th Acesso
                        td=arq.arquelem.acesso
                    tr
                        th Quadro
                        td
                            if arq.arquelem.quadro
                                p=arq.arquelem.quadro
                        
                    tr
                        th Descrição Arqueológica
                        td
                            if arq.arquelem.descarq
                                p=arq.arquelem.descarq
                    
            footer.w3-container.w3-light-grey
                p
                    a(href='http://localhost4005/index')
                    | Voltar à pagina Principal
                